<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/user_quotes.css' ) }}">
</head>
<body>
    <div class="header">
        <div class="title">
        <div class="links">
            <a class="back_page" href="/back_page">Back</a>
            <a class="logout" href="/delete_session" method="POST">logout</a>
        </div>
        <div>
            <h1>{{ quotes.first_name }} {{ quotes.last_name }} Quotes</h1>
            {% if quotes %}
            <ul>
                {% for quote in quotes %}
                    <li>{{ quote.quote }} - {{ quote.autor }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay citas disponibles.</p>
        {% endif %}
    
</body>
</html>